/* Globale */

:root {
    --main-font: 'Inter', sans-serif;
    --kohly-color: #172B4D;
    --green-color: #36B37F;
    --light-blue: #C5E9DA;
    --light: #EBF0EE;
    --white: #ffff;
}

button,
button:active ,
button:focus {
    box-shadow: none;
    border: none;
}

html,body{overflow-x: hidden;}

/* Globale End */

/* Nav bar */

nav {
    position: absolute !important;
    left: 50%;
    transform: translateX(-50%);
}

nav .container {
    font-family: var(--main-font);
    color: var(--kohly-color);
}

nav .navbar-toggler,
nav .navbar-toggler:active ,
nav .navbar-toggler:focus {
    box-shadow: none;
    border: none;
}

/* Nav bar end */

/* header */

header {
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .container .text h3 {
    color: var(--kohly-color);
    font-size: 48px;
    font-family: var(--main-font);
    font-weight: bold;
}

header .container .text h3 span {
    display: block;
    color: var(--green-color);
}

header .container .text p {
    color: var(--kohly-color);
    font-size: 20px;
    font-family: var(--main-font);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 32px;
    width: 770px;
}

header .container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header .container ul li {
    padding: 8px;
}
/* header end */

/* My work */

.myWork .head h3 {
    font-size: 40px;
    font-family: var(--main-font);
    color: var(--kohly-color);
    position: relative;
}

.myWork .text h3 {
    font-size: 24px;
    font-family: var(--main-font);
    color: var(--kohly-color);
    font-weight: bold;
    inline-size: 300px;
}

.myWork .box {
    background-color: var(--light);
    height: 215px;
    border: 1px solid #D0D9D4;
    border-bottom: none;
    border-radius: 8px 8px 0px 0px;
}

.myWork .col {
    margin-bottom: 24px;
}

.myWork .mainBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid #D0D9D4;
    border-top: none;
    background-color: var(--white);
    border-radius: 0px 0px 8px 8px;
}

.myWork .mainBox .smButton button {
    color: var(--kohly-color);
    background-color: var(--light);
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 5px;
}

.myWork .mainBox .bigButton {
    background-color: var(--green-color);
    color: var(--white);
    padding: 12px;
    font-size: 17px;
    margin-top: 30px;
    border-radius: 5px;
}

/* end */

/* About Me */

.aboutMe {
    margin-top: 100px;
    position: relative;
}

.aboutMe img:first-of-type {
    position: absolute;
    width: 248px;
    height: 130px;
    bottom: 0;
    z-index: -11;
}

.aboutMe img:last-of-type {
    position: absolute;
    width: 240px;
    height: 260px;
    top: -100px;
    right: 0;
    z-index: -1;
}

.aboutMe .text h2 {
    color: var(--kohly-color);
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: bold;
}

.aboutMe .text  {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aboutMe .text p {
    color: var(--kohly-color);
    font-family: var(--main-font);
    font-size: 20px;
    width: 767px;
    margin-bottom: 24px;
}

.aboutMe .text button {
    background-color: var(--green-color);
    color: var(--white);
    padding: 12px;
    border-radius: 5px;
}

.aboutMePart2 {
    margin-top: 50px;
}

.aboutMePart2 .box {
    background-color: var(--light);
    padding: 40px 50px 70px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #D0D9D4;
    border-radius: 8px;
}

.aboutMePart2 .box .circle {
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 16px 24px rgba(37, 47, 137, 0.08);
}

.aboutMePart2 .box h3 {
    color: var(--kohly-color);
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.aboutMePart2 .box .smButtons button {
    background-color: var(--white);
    color: var(--green-color);
    padding: 10px;
    border-radius: 8px;
}
/* End */

/* Footer */

footer {
    position: relative;
}

footer [src="img/l.png"] {
    bottom: 72px;
}

footer [src="img/r.png"] {
    right: 0;
}

footer [src="img/smll.png"] {
    bottom: 156px;
    left: 275px;
}

footer [src="img/mR.png"] {
    bottom: 150px;
    right: 0px;
}

footer img {
    position: absolute;
    z-index: -1;
}

footer .container{
    padding: 130px 0;
}

footer .h1Parent {
    display: flex;
    align-items: center;
}

footer h1 {
    font-size: 30px;
    color: #172B4D;
    font-weight: bold;
    padding: 0 27px;
}

footer input {
    border: 0;
    border: 1px solid #D0D9D4;
    border-radius: 4px;
    padding: 10px;
}

footer input:nth-child(2) {
    margin-right: 24px;
}

footer input:not([type = "email"]) {
    width: calc(50% - 15px);
}

footer input[type = "email"] {
    width: 100%;
    margin: 20px 0;
}

footer textarea {
    width: 100%;
    border: 0;
    background-color: var(--white);
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #D0D9D4;
    border-radius: 4px;
}

footer textarea::placeholder {
    color: black;
}

footer button {
    background-color: var(--green-color);
    color: white;
    border: 0;
    padding: 10px;
    margin-top: 24px;
    border-radius: 5px;
}

footer .iconsCon {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #DFE1E6;
}

footer .iconsCon ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer .iconsCon ul li {
    padding: 10px;
}

footer .iconsCon ul li svg {
    color: #505F79;
}

footer .iconsCon .blackGround {
    background-color: black;
    height: 5px;
    width: 135px;
    border-radius: 10px;
    margin-top: 12px;
}

/* End */

/* madia */

@media (max-width:776px) {
    
    header .container .text h3 {
        font-size: 40px
    }

    header .container .text p {
        width: auto;
    }

    .aboutMe .text h2 {
        font-size: 32px;
    }

    .aboutMe .text p {
        width: auto;
    }

    header {
        background-image: url(../img/mobileMian.png);
    }

    .myWork .head h3::after {
        background-color: var(--green-color);
        content: "";
        position: absolute;
        width: 50px;
        height: 5px;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .aboutMe img:last-of-type {
        width: 115px;
        height: 127px;
        right: -45px;
    }

    .aboutMe img:first-of-type {
        width: 90.02px;
        height: 56.99px;
        left: -10px;
    }

    .aboutMePart2 .box .smButtons button {
        padding: 9px;
    }

    footer input {
        width: calc(100% - 20px) !important;
    }

    footer textarea {
        width: calc(100% - 20px);
    }

    footer .iconsCon {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0 10px 0;
        border-top: 1px solid #DFE1E6;
    }
}


@media (max-width:996px) {
    nav {
        position: relative !important;
    }

    header {
        height: calc(100vh - 56px);
    }
}

@media (min-width:1200px) {
    
}
